In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt # we only need pyplot
sb.set() # set the default Seaborn style for graphics

In [7]:
solympicdata = pd.read_html('http://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table')

In [8]:
print("HTML tables : ",len(solympicdata))

HTML tables :  6

In [9]:
print(solympicdata)

[                                                   0
0                                Part of a series on
1  2016 Summer Olympics Bid process (bid details)...,                 Rank                         NOC  Gold  Silver  Bronze  Total
0                  1         United States (USA)    46      37      38    121
1                  2         Great Britain (GBR)    27      23      17     67
2                  3                 China (CHN)    26      18      26     70
3                  4                Russia (RUS)    19      17      20     56
4                  5               Germany (GER)    17      10      15     42
..               ...                         ...   ...     ...     ...    ...
82                78               Nigeria (NGR)     0       0       1      1
83                78              Portugal (POR)     0       0       1      1
84                78   Trinidad and Tobago (TTO)     0       0       1      1
85                78  United Arab Emirates (UAE)     0       0       1      1
86  Totals (86 NOCs)            Totals (86 NOCs)   307     307     359    973

[87 rows x 6 columns],                                          Ruling date  \
0  List of official changes in medal standings (d...
1                                     18 August 2016
2                                     18 August 2016
3  List of official changes in medal standings (a...
4                                    8 December 2016
5                                    8 December 2016
6                                    8 December 2016
7                                    8 December 2016
8                                    30 January 2017
9                                    30 January 2017

                                         Sport/Event  \
0  List of official changes in medal standings (d...
1                           WeightliftingMen's 69 kg
2                           WeightliftingMen's 69 kg
3  List of official changes in medal standings (a...
4                           WeightliftingMen's 85 kg
5                           WeightliftingMen's 85 kg
6                              BoxingMen's flyweight
7                              BoxingMen's flyweight
8                      CanoeingMen's C-1 1000 metres
9                      CanoeingMen's C-1 1000 metres

                                       Athlete (NOC)  \
0  List of official changes in medal standings (d...
1                            Izzat Artykov (KGZ) DSQ
2                         Luis Javier Mosquera (COL)
3  List of official changes in medal standings (a...
4                        Gabriel Sîncrăian (ROM) DSQ
5                                 Denis Ulanov (KAZ)
6                             Misha Aloyan (RUS) DSQ
7                                   Yoel Finol (VEN)
8                       Serghei Tarnovschi (MDA) DSQ
9                               Ilia Shtokalov (RUS)

                                          Unnamed: 3  \
0  List of official changes in medal standings (d...
1                                                NaN
2                                                NaN
3  List of official changes in medal standings (a...
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN

                                          Unnamed: 4  \
0  List of official changes in medal standings (d...
1                                                NaN
2                                                NaN
3  List of official changes in medal standings (a...
4                                                NaN
5                                                NaN
6                                                 −1
7                                                 +1
8                                                NaN
9                                                NaN

                                          Unnamed: 5  \
0  List of official changes in medal standings (d...
1                                                 −1
2                                                 +1
3  List of official changes in medal standings (a...
4                                                 −1
5                                                 +1
6                                                NaN
7                                                 −1
8                                                 −1
9                                                 +1

                                               Total  \
0  List of official changes in medal standings (d...
1                                                 −1
2                                                 +1
3  List of official changes in medal standings (a...
4                                                 −1
5                                                 +1
6                                                 −1
7                                                  0
8                                                 −1
9                                                 +1

                                             Comment  \
0  List of official changes in medal standings (d...
1  On 18 August 2016, Kyrgyz weightlifter Izzat A...
2  On 18 August 2016, Kyrgyz weightlifter Izzat A...
3  List of official changes in medal standings (a...
4  On 8 December 2016, the CAS disqualified weigh...
5  On 8 December 2016, the CAS disqualified weigh...
6  On 8 December 2016, the CAS disqualified weigh...
7  On 8 December 2016, the CAS disqualified weigh...
8  Serghei Tarnovschi of Moldova was stripped of ...
9  Serghei Tarnovschi of Moldova was stripped of ...

                                          Unnamed: 8
0  List of official changes in medal standings (d...
1                                                NaN
2                                                NaN
3  List of official changes in medal standings (a...
4                                                NaN
5                                                NaN
6                                                NaN
7                                                NaN
8                                                NaN
9                                                NaN  ,                        vteOlympic Games medal tables  \
0  Olympic medal All-time Olympic Games medal tab...
1                               Summer Olympic Games
2                               Winter Olympic Games
3  Lists of Olympic medalists List of stripped Ol...

                     vteOlympic Games medal tables.1
0  Olympic medal All-time Olympic Games medal tab...
1  1896 1900 1904 1908 1912 1920 1924 1928 1932 1...
2  1924 1928 1932 1936 1948 1952 1956 1960 1964 1...
3  Lists of Olympic medalists List of stripped Ol...  ,                vteEvents at the 2016 Summer Olympics  \
0  Archery Athletics Badminton Basketball men wom...

             vteEvents at the 2016 Summer Olympics.1
0  Archery Athletics Badminton Basketball men wom...  ,       vteSummer Olympics medal table leaders by year  \
0  .mw-parser-output .div-col{margin-top:0.3em;co...

    vteSummer Olympics medal table leaders by year.1
0  .mw-parser-output .div-col{margin-top:0.3em;co...  ]

In [11]:
solympicdata[1].head()

  Rank                  NOC  Gold  Silver  Bronze  Total
0    1  United States (USA)    46      37      38    121
1    2  Great Britain (GBR)    27      23      17     67
2    3          China (CHN)    26      18      26     70
3    4         Russia (RUS)    19      17      20     56
4    5        Germany (GER)    17      10      15     42

In [12]:
actual = pd.DataFrame(solympicdata[1])
actual.head()

  Rank                  NOC  Gold  Silver  Bronze  Total
0    1  United States (USA)    46      37      38    121
1    2  Great Britain (GBR)    27      23      17     67
2    3          China (CHN)    26      18      26     70
3    4         Russia (RUS)    19      17      20     56
4    5        Germany (GER)    17      10      15     42

In [23]:
top20 = pd.DataFrame(actual[:20])

In [24]:
print(top20)

   Rank                  NOC  Gold  Silver  Bronze  Total
0     1  United States (USA)    46      37      38    121
1     2  Great Britain (GBR)    27      23      17     67
2     3          China (CHN)    26      18      26     70
3     4         Russia (RUS)    19      17      20     56
4     5        Germany (GER)    17      10      15     42
5     6          Japan (JPN)    12       8      21     41
6     7         France (FRA)    10      18      14     42
7     8    South Korea (KOR)     9       3       9     21
8     9          Italy (ITA)     8      12       8     28
9    10      Australia (AUS)     8      11      10     29
10   11    Netherlands (NED)     8       7       4     19
11   12        Hungary (HUN)     8       3       4     15
12   13        Brazil (BRA)*     7       6       6     19
13   14          Spain (ESP)     7       4       6     17
14   15          Kenya (KEN)     6       6       1     13
15   16        Jamaica (JAM)     6       3       2     11
16   17        Croatia (CRO)     5       3       2     10
17   18           Cuba (CUB)     5       2       4     11
18   19    New Zealand (NZL)     4       9       5     18
19   20         Canada (CAN)     4       3      15     22